* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #0F0F0F;
    color: white;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.field {
    margin-top: 1.7rem;
    align-self: center;
    #inp {
        width: 27vw;
        padding: 10px;
    }
}

.process {
    margin-top: 1.7rem;

    button {
    
        width: 5vw;
        height: 4.3vh;
        background-color: #3498db;
        color: #fff;
        border-radius: 10px;
        border: none;
    }

    p {
        margin-top: 1.7rem;
        font-size: 20px;
    }
}

